.container {
  display: flex;
  flex: column wrap;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
}

input, textarea {
  color: #dbdbdb;
  border: 1px solid #dbdbdb;
  padding: 10px 15px;
  margin: 8px;
  font-family: monospace;
  width: 300px;
  resize: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#submitbutton {
  width: 150px;
  background-color: white;
  color: #0dcaf0;
  border: 1px solid #0dcaf0;
  border-radius: 3px;
  text-transform: uppercase;
}
