 #toggle{
    background-color: white;
    color: aqua;
    border-color: aqua;
    font-size: 18px;
    display: flex; */
    font-weight: bold;
}


    h1{
        
    font-size: 2em;
    margin: 20px 50px 20px 25%;
    font-weight: bold;
}
    }

     img{

      position: absolute;
      top:150px;left: 800px;
        height: 180px;
        width: 200px;
        
    }
